version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    labels: ["dependencies"]
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 7
    groups:
      gomod-dependencies:
        patterns:
          - "*"
