name: E2E

on:
  workflow_dispatch:
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
        with:
          persist-credentials: false
      - uses: dagger/dagger-for-github@80a5b5bdc989a48577b20630d6f43e717f5b70aa # v7.0.3
        with:
          module: ./e2e
          args: build --src . run
