on:
  workflow_dispatch:

name: ko

permissions: {}

jobs:
  ko:
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
        with:
          fetch-tags: true
          persist-credentials: false
      - uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5
        with:
          go-version: '1.23.1'
          cache: false
      - uses: ko-build/setup-ko@ace48d793556083a76f1e3e6068850c1f4a369aa # v0.6
        with:
          version: tip # --image-annotation
      - run: make ko.push
